@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    string[] TileImageList = ViewData["TileImageList"] as string[];
    string[] ItemImageList = ViewData["ItemImageList"] as string[];

    int? inventoryRows = ViewData["InventoryRows"] as int?;
    int? inventoryCols = ViewData["InventoryCols"] as int?;
}

<style>
    * {
        user-select: none;
    }

    .navbar {
        position: absolute;
        background-color: white;
        z-index: 1;
    }

    .navbar li {
        color: black;
        text-align: right;
        float: right;
        list-style-type: none;
    }

    .inventory{
        position: absolute;
    }

    .inventory td{
        background-color: white;
    }

    .hotbar{
        position:absolute;
        top: 80%;
        right: 50%;
    }

    .hotbar td{
        background-color: white;
    }

    body{
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    td{
        width: 55px;
        height: 55px;
        border: solid;
    }

    .gameCanvas{
        position: absolute;
    }

    .drawingCanvas{
        position: absolute;
    }

    .chat {
        background-color: azure;
        position: absolute;
        resize: none;
    }
</style>

<body>
    <header>
        <div class="navbar">
            <ul>
                <li><input id="InventoryButton" type="button" value="Inventory" /></li>
                <li><input id="ChatButton" type="button" value="Chat" /></li>
                <li><input id="MenuButton" type="button" value="Menu" /></li>
                <li><input type="range" min="1" max="6" value="3" id="ScaleSlider" /></li>
                <li><input id="Username" value="@ViewData["UserName"]" hidden disabled /></li>
            </ul>
        </div>
    </header>

    <div>
        <canvas class="gameCanvas" id="game" width="1000" height="1000"></canvas>
        <canvas class="gameCanvas" id="entity" width="1000" height="1000"></canvas>
        <canvas class="gameCanvas" id="player" width="1000" height="1000"></canvas>
        <canvas class="gameCanvas" id="canvas" width="1000" height="1000"></canvas>
        <canvas class="gameCanvas" id="direction" width="1000" height="1000"></canvas>

        <div id="drawingTools" hidden>
            <canvas class="drawingCanvas" id="drawing" width="1000" height="1000"></canvas>
            <input class="drawingCanvas" id="CloseDrawingCanvas" type="button" value="✖" />
            <input class="drawingCanvas" id="ClearDrawingCanvas" type="button" value="CLEAR" />
        </div>

        <table class="inventory" id="InventoryTable">
            @for (int i = 0; i < inventoryRows; i++)
            {
                <tr>
                    @for (int j = 0; j < inventoryCols; j++)
                    {
                        string id1 = "i" + i + j;
                        string id2 = "ii" + i + j;
                        string id3 = "ip" + i + j;
                        <td id="@id1" onclick="SelectInventory(@i, @j)">
                            <img id="@id2" />
                            <p id="@id3"></p>
                        </td>
                    }
                </tr>
            }
        </table>

        <table class="hotbar" id="HotbarTable">
            <tr>
                @for (int i = 0; i < 5; i++)
                {
                    string id1 = "h" + i;
                    string id2 = "hi" + i;
                    string id3 = "hp" + i;
                    <td id="@id1" onclick="SelectHotbarSwap(@i)">
                        <img id="@id2" />
                        <p id="@id3"></p>
                    </td>

                }
            </tr>
        </table>
        <input class="chat" id="chatInput" />
        <div id="chat"></div>
    </div>
</body>

<footer>
    @for(int i = 0; i < TileImageList.Length; i++)
            {
                <img id="@TileImageList[i]" src="~/images/tiles/@TileImageList[i]" hidden />
            }
    @for(int i = 0; i < ItemImageList.Length; i++)
            {
                <img id="@ItemImageList[i]" src="~/images/items/@ItemImageList[i]" hidden />
            }
    <div id="imgs">
        <!--<img id="1-5" src="~/images/canvases/1-5.png" hidden />-->
    </div>
</footer>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>